.filme {
  background-color: white;
  position: relative;
  border-radius: 0.5rem;
}

.filme img {
  width: 100%;
  border-radius: 0.5rem;
}

.filme small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000055;
  color: #fff;
  width: 2rem;
  height: 2rem;
}
