.filme {
  background-color: white;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: #00000044 10px 0 20px -10px;
  transform-origin: center bottom;
  cursor: pointer;
}

.filme:hover {
  transform: scale(1.01);
}

.filme img {
  width: 100%;
  border-radius: 0.5rem;
}

.filme small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000055;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  backdrop-filter: blur(10px);
}

.filme div {
  padding: 1rem;
}

.filme div b {
  display: block;
}
