.filme {
  background-color: white;
  position: relative;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: #00000044 10px 0 20px -10px;
  transform-origin: center bottom;
  cursor: pointer;
}

.filme:hover {
  transform: scale(1.01);
}

.filme img {
  width: 100%;
  border-radius: 0.5rem;
}

.filme small {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000055;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  backdrop-filter: blur(10px);
}

.filme div {
  padding: 1rem;
}

.filme div b {
  display: block;
}

.filme button {
  background-color: #00000088;
  transform: translateX(-50%);
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.052);
  transition: all ease-in-out 200ms;
  opacity: 0;
  cursor: pointer;
}

.filme:hover button {
  opacity: 1;
  top: 25%;
}
