

* {
  font-family: 'Nunito Sans';
}

body {
  background: rgb(254, 254, 254);
  height: 100%;
}

.loginContainer {
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  width: 250px;
}

.loginContainer > h1 {
  font-family: 'Nunito Sans';
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.acessButton {
  background-color: blue;
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.createButton {
  background-color: rgb(41, 201, 41);
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.teste {
  font-size: 50em;
}

html {
  height: 100%;
}
